<div class="container-fluid mb-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="mb-0">{{article.title}}</h1>
        <small>{{article.updateDatetime}}</small>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          {{{article.content}}}
        </p>

        <div class="row">
          <div class="col logo-list">
            <h4>Partager l'article</h4>
            <a href=""><i class="fab fa-facebook h2 facebook-color"></i></a>
            <a href=""><i class="fab fa-twitter h2 twitter-color"></i></a>
            <a href=""><i class="fab fa-reddit h2 reddit-color"></i></a>
            <a href=""><i class="fab fa-google-plus h2 google-plus-color"></i></a>
            <a href=""><i class="fab fa-instagram h2 instagram-color"></i></a>
            <a href=""><i class="fab fa-linkedin h2 linkedin-color"></i></a>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col">
            <div class="card-deck">
              <ArticleCard @article={{article}} />
              <ArticleCard @article={{article}} />
              <ArticleCard @article={{article}} />
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 p-0">
        {{#each article.authors as |author|}}
          <AuthorCard @author={{author}}/>
        {{/each}}
      </div>
    </div>
  </div>
</div>