<div class="container-fluid mb-4">
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <h1 class="mb-0">{{article.title}}</h1>
        <small>Publié le {{moment-format article.updateDatetime 'D MMMM YYYY à hh[h]mm' 'MM-YYYY-DD'}}</small>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <p class="text-justify">
          {{#if article.image}}
            <img class="img-fluid article-img float-xl-left pr-3 pb-3 mx-auto d-block" src={{article.image.url}} alt={{article.image.alt}}>
          {{else}}
            <img class="img-fluid article-img" src="/assets/images/placeholder.jpg" alt={{t "placeholder.alt"}}>
          {{/if}}
          {{{article.content}}}
        </p>

        <div class="row">
          <div class="col logo-list">
            <h4>Partager l'article</h4>
            <div class="row">
              <div class="col">
                <FacebookButton />
                <TwitterButton @text={{concat "Nouvel article sur l'Agenda: " article.title}} />
                <LinkedinButton @text={{concat "Nouvel article sur l'Agenda: " article.title}} @title={{article.title}} />
                <EmailButton @title={{article.title}} />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 p-0">
        {{#each article.authors as |author|}}
          <AuthorCard @author={{author}}/>
        {{/each}}
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <div class="card-deck">
          {{#each this.model.featuredBalados as |featuredBalado|}}
            <FeaturedCard @model={{featuredBalado}} @type="balado" />
          {{/each}}
          {{#each this.model.featuredArticles as |featuredArticle|}}
            <FeaturedCard @model={{featuredArticle}} @type="article" />
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>