<div class="container-fluid mb-4">
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <h1 class="mb-0">{{article.title}}</h1>
        <small>Publié le {{moment-format article.updateDatetime 'D MMMM YYYY à hh[h]mm' 'MM-YYYY-DD'}}</small>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <p class="text-justify">
          {{#if article.image}}
            <div class="float-xl-left pr-3 pb-3 mx-auto article-img-container">
              <img class="img-fluid article-img d-block" src={{article.image.url}} alt={{article.image.alt}}>
              {{#if article.image.credits}}
                <small>{{article.image.credits}}</small>
              {{/if}}
            </div>
          {{else}}
            <img class="img-fluid article-img" src="/assets/images/placeholder.jpg" alt={{t "placeholder.alt"}}>
          {{/if}}
          {{{article.content}}}
        </p>

        <div class="row">
          <div class="col logo-list">
            <h4>Partager l'article</h4>
            <div class="row">
              <div class="col">
                <FacebookButton />
                <TwitterButton @text={{concat "Nouvel article sur l'Agenda: " article.title}} />
                <LinkedinButton @text={{concat "Nouvel article sur l'Agenda: " article.title}} @title={{article.title}} />
                <EmailButton @title={{article.title}} />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 p-0">
        {{#each article.authors as |author|}}
          <AuthorCard @author={{author}}/>
        {{/each}}
        <div class="card mt-4 bg-light">
          <div class="card-body">
            <h4 class="card-title text-uppercase font-weight-bold mb-0">Infolettre</h4>
            <small class="card-text color-form">
              Pour ne rien manquer de la part de notre équipe de la rédaction. Inscrivez-vous à notre infolettre.
            </small>
            <form class="mt-2" action="https://app.cyberimpact.com/optin" method="post" accept-charset="utf-8">
              <div class="form-group">
                <label class="d-none" for="ci_email">Adresse courriel</label>
                <input type="email" class="form-control bg-light" id="ci_email" name="ci_email" placeholder="Adresse courriel">
              </div>
              <div class="form-group">
                <label class="d-none" for="ci_firstname">Prénom</label>
                <input type="text" class="form-control bg-light" id="ci_firstname" name="ci_firstname" placeholder="Prénom">
              </div>
              <div class="form-group">
                <label class="d-none" for="ci_lastname">Nom</label>
                <input type="text" class="form-control bg-light" id="ci_lastname" name="ci_lastname" placeholder="Nom">
              </div>

              <input type="hidden" id="ci_groups" name="ci_groups" value="2"/>
              <input type="hidden" id="ci_language" name="ci_language" value="fr_ca"/>
              <input type="hidden" id="ci_account" name="ci_account" value="e19b82d5-8f84-48f1-3518-62c0938c87bc"/>
              <input type="hidden" id="ci_sent_url" name="ci_sent_url" value={{sentUrl}}/>
              <input type="hidden" id="ci_error_url" name="ci_error_url" value={{errorUrl}} />
              <input type="hidden" id="ci_confirm_url" name="ci_confirm_url" value={{successUrl}} />

              <button type="submit" class="w-100 btn btn-primary">S'inscrire</button>
            </form>
          </div>
        </div>
        <div class="card mt-4 bg-light">
          <div class="card-body">
            <h5 class="card-title text-uppercase font-weight-bold mb-0 color-blue">Exprimez-vous!</h5>
            <small class="card-text color-form">
              Vous désirez réagir à l'actualité ou à l'un de nos article?
            </small>
            <p class="card-text mt-2">
              <button class="w-100 btn btn-primary text-white" onclick={{fn (mut this.submitText)}}>
                Envoyez-nous votre texte!
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <div class="card-deck">
          {{#each this.model.featuredBalados as |featuredBalado|}}
            <FeaturedCard @model={{featuredBalado}} @type="balado" />
          {{/each}}
          {{#each this.model.featuredArticles as |featuredArticle|}}
            <FeaturedCard @model={{featuredArticle}} @type="article" />
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

<BsModal @open={{this.submitText}} @position="center" as |Modal|>
  <Modal.header class="flex-column">
    <h4 class="modal-title w-100">Exprimez-vous!</h4>
  </Modal.header>
  <Modal.body class="text-justify">
    <p>
      Faites entendre votre voix, soumettez-nous votre texte faisant entre 500 à 1000 mots dans un format Word et nous
      nous ferons un plaisir de le lire et de l’évaluer.
    </p>
    <p>
      Nous nous réservons le droit de choisir de publier ou non
      chaque texte. Si votre texte est choisi, nous vous recontacterons pour confirmer les détails de publications
      (Photos, noms, date, etc.) Nous avons hâte de vous lire.
    </p>
  </Modal.body>
  <Modal.footer class="justify-content-center" as |footer|>
    <a type="mail" role="button" href="mailto:lagenda.media@gmail.com" class="btn btn-primary text-white">Soumettre</a>
    <BsButton @onClick={{action Modal.close}} @type="secondary">Fermer</BsButton>
  </Modal.footer>
</BsModal>