<div class="container-fluid mb-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="mb-0">{{article.title}}</h1>
        <small>{{article.updateDatetime}}</small>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <div class="balados-thumbnail">
          {{#if article.thumbnail}}
            <img class="img-fluid" src={{article.thumbnail.url}} alt={{article.thumbnail.alt}}>
          {{else}}
            <img class="img-fluid" src="/assets/images/placeholder.jpg" alt={{t "placeholder.alt"}}>
          {{/if}}
        </div>
        <small>{{article.thumbnail.credits}}</small>
        <p>
          {{{article.content}}}
        </p>

        <div class="row">
          <div class="col logo-list">
            <h4>Partager l'article</h4>
            <a href=""><i class="fab fa-facebook h2 facebook-color"></i></a>
            <a href=""><i class="fab fa-twitter h2 twitter-color"></i></a>
            <a href=""><i class="fab fa-linkedin h2 linkedin-color"></i></a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 p-0">
        {{#each article.authors as |author|}}
          <AuthorCard @author={{author}}/>
        {{/each}}
      </div>
    </div>
    <!--
    <div class="row mt-5">
      <div class="col">
        <div class="card-deck">
          <ArticleCard @article={{article}} />
          <ArticleCard @article={{article}} />
          <ArticleCard @article={{article}} />
        </div>
      </div>
    </div>
    -->
  </div>
</div>