<div class="container">
  <div class="d-flex">
    <h1>{{model.name}}</h1>
    <span class="ml-auto align-self-center">
      <PowerSelect @options={{this.sortProperties}} @selected={{this.selectedSort}} @onChange={{this.changeProperty}} as |property|>
        {{property.name}}
      </PowerSelect>
    </span>
  </div>
  <div class="row">
    {{#each articles as |article|}}
      <ArticleCard @article={{article}} />
    {{/each}}
  </div>
</div>
