<BsModal @onHide={{this.closeModal}}
         @open={{true}}
         @fade={{false}}
         @position="center"
         as |Modal|>
  <Modal.header class="flex-column pt-0">
    <h4 class="modal-title w-100">{{t "admin.image.title"}}</h4>
  </Modal.header>
  <Modal.body class="px-0">
    {{#if this.alertMessage}}
      <div class={{concat "alert text-left alert-" this.alertType}} role="alert">
        {{this.alertMessage}}
      </div>
    {{/if}}
    <div class="admin-modal">
      <div class="row">
        <div class="col">
          <FileDropzone class="image-upload-dropzone d-flex align-items-center justify-content-center flex-column"
                        @name="photos"
                        as |dropzone queue|>
            {{#if dropzone.active}}
              {{#if dropzone.valid}}
                <span>{{t "admin.form.dropdown.zone"}}</span>
              {{else}}
                <span>{{t "admin.form.dropdown.invalid"}}</span>
              {{/if}}
            {{else if queue.files.length}}
              <span>{{t "admin.form.dropdown.uploading" length=queue.files.length progress=queue.progress}}</span>
            {{else}}
              <h4 class="m-3">{{t "admin.image.addImage"}}</h4>
              {{#if dropzone.supported}}
                <p>{{t "admin.form.dropdown.zone-text"}}</p>
              {{/if}}
              <FileUpload @name="photos"
                          @accept="image/*"
                          @onfileadd={{this.uploadImage}}>
                {{! template-lint-disable link-href-attributes }}
                <a class="btn btn-dark" id="upload-image">{{t "admin.image.addImage"}}</a>
              </FileUpload>
            {{/if}}
          </FileDropzone>
        </div>
      </div>
      {{#each this.uploadedImages as |image index|}}
        <h6 class="text-left pt-3">{{#if image.isNew}}<i class="fas fa-exclamation-triangle pr-2 color-orange"></i>{{/if}}{{t "admin.image.image-title" number=(add index 1)}}</h6>
        <BsForm class="text-left row" @model={{image}} @onSubmit={{this.submit}} as |form|>
          <div class="col pr-0">
            <form.group>
              <label class="control-label">{{t "admin.form.linkTo"}}</label>
              <CopyText @text={{image.url}} />
            </form.group>
            <form.element @controlType="text" @label="Nom" @property="name" />
            <form.element @controlType="text" @label="Description" @property="alt" />
            <form.element @controlType="text" @label="Crédits" @property="credits" />
          </div>
          <div class="col-6 d-flex flex-column">
            <img src={{image.url}} alt={{image.alt}}>
            <BsButton class="align-self-end mt-auto mb-3" @type="dark" @buttonType="submit">{{t "admin.form.submit"}}</BsButton>
          </div>
        </BsForm>
      {{/each}}
    </div>
  </Modal.body>
</BsModal>