<BsModal @onHide={{this.closeModal}}
    @open={{true}}
    @fade={{false}}
    @position="center"
    as |Modal|>
  <Modal.header class="flex-column pt-0">
    <h4 class="modal-title w-100">Image</h4>
  </Modal.header>
  <Modal.body class="px-0">
    <div class="admin-modal">
      <BsForm class="text-left" @model={{this.imageModel}} @onSubmit={{this.submit}} as |form|>
        <div class="row">
          <div class="col">
            <form.group>
              <label class="control-label">Id</label>
              <CopyText @text={{this.imageModel.id}} />
            </form.group>
          </div>
          <div class="col">
            <form.group>
              <label class="control-label">Url</label>
              <CopyText @text={{this.imageModel.url}} />
            </form.group>
          </div>
        </div>
        <form.element @controlType="text" @label="Nom" @property="name" />
        <form.element @controlType="text" @label="Description" @property="alt" />
        <div class="row">
          <div class="col">
            <form.element @controlType="text" @label="Crédits" @property="credits" />
          </div>
          {{this.loadImageSize}}
          {{#if this.image.imageSize}}
            <div class="col">
              <h6>{{t "admin.form.image.sizeTitle"}}</h6>
              <span>
                {{t "admin.form.image.size"
                    width=this.image.imageSize.width
                    height=this.image.imageSize.height
                    ratio=this.image.imageSize.ratio}}
              </span>
            </div>
          {{/if}}
        </div>
        <div class="pb-2 d-flex justify-content-center">
          <img class="img-fluid" src={{this.imageModel.url}} alt={{this.imageModel.alt}} />
        </div>
        <BsButton @defaultText="Submit" @type="primary" type="submit" class="float-right mr-0" />
      </BsForm>
    </div>
  </Modal.body>
</BsModal>