<BsModal @onHide={{this.closeModal}}
    @open={{true}}
    @fade={{false}}
    @position="center"
    as |Modal|>
  <Modal.header class="flex-column pt-0">
    <h4 class="modal-title w-100">Image</h4>
  </Modal.header>
  <Modal.body class="px-0">
    {{#if this.alertMessage}}
      <div class={{concat "alert text-left alert-" this.alertType}} role="alert">
        {{this.alertMessage}}
      </div>
    {{/if}}
    <div class="admin-modal">
      <BsForm class="text-left" @model={{this.image}} @onSubmit={{action "submit"}} as |form|>
        <div class="row">
          <div class="col">
            <form.group>
              <label class="control-label">Id</label>
              <CopyText @text={{this.image.id}} />
            </form.group>
          </div>
          <div class="col">
            <form.group>
              <label class="control-label">Url</label>
              <CopyText @text={{this.imageUrl}} />
            </form.group>
          </div>
        </div>
<!--        <FileUpload @name="photos"-->
<!--                    @accept="image/*"-->
<!--                    @onfileadd={{action this.uploadImage}} as |queue|>-->
<!--          <a class="button">-->
<!--            {{#if queue.files.length}}-->
<!--              Uploading...-->
<!--            {{else}}-->
<!--              Upload file-->
<!--            {{/if}}-->
<!--          </a>-->
<!--        </FileUpload>-->
        <form.element @controlType="text" @label="Description" @property="alt" />
        <form.element @controlType="text" @label="Crédits" @property="credits" />
        <div class="d-flex pb-2">
          <div>
            <div class="pb-2">
              <h6>Dimensions</h6>
              {{this.imageSize.width}} x {{this.imageSize.height}}
            </div>
            <div class="pb-2">
              <h6>Ratio</h6>
              {{this.imageSize.ratio}}
            </div>
          </div>
          <img class="img-fluid ml-auto" src={{this.image.url}} />
        </div>
        <BsButton @defaultText="Submit" @type="primary" type="submit" class="float-right mr-0" />
      </BsForm>
    </div>
  </Modal.body>
</BsModal>