<div class="row my-5">
  <div class="card bg-light mx-auto">
    <div class="card-body">
      <div class="row">
        <div class="col-8">
          <h5 class="card-title">{{this.partner.firstName}} {{this.partner.lastName}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{this.partner.title}}</h6>
          <p class="card-text">{{this.partner.desc}}</p>
        </div>
        <div class="col">
          {{#if this.partner.image}}
            <img class="img-fluid" src={{this.partner.image.url}} alt={{this.partner.image.alt}}>
          {{else}}
            <img class="img-fluid" src="/assets/images/placeholder.jpg" alt={{t "placeholder.alt"}}>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
