<div class="container">
  <h2>{{balado.title}}</h2>
  <small>{{moment balado.postDatetime 'dddd Do MMMM YYYY, h:mm:ss a'}}</small>
  {{#if balado.updateDatetime}}
    <small>Mise à jour: {{moment balado.updateDatetime 'MM-DD-YYYY'}}</small>
  {{/if}}
  <div class="row mb-3">
    <div class="col-8">
      <p>
        {{{balado.desc}}}
      </p>
    </div>
    <div class="col-4 px-0">
      <h4 class="mb-2">Écouter l'épisode</h4>
      <div>
        {{#if balado.appleLink}}
          <a href={{balado.appleLink}} class="mx-2"><img src="/assets/logo/apple-podcast.png" alt="Apple podcast" height="40px" width="40px"></a>
        {{/if}}
        {{#if balado.googleLink}}
          <a href={{balado.googleLink}} class="mx-2"><img src="/assets/logo/google-podcasts.png" alt="Google podcast" height="40px" width="40px"></a>
        {{/if}}
        {{#if balado.spotifyLink}}
          <a href={{balado.spotifyLink}} class="mx-2"><img src="/assets/logo/spotify.png" alt="Google play" height="40px" width="40px"></a>
        {{/if}}
        {{#if balado.soundcloudLink}}
          <a href={{balado.soundcloudLink}} class="mx-2"><img src="https://w.soundcloud.com/icon/assets/images/orange_white_40-94fc761.png" alt="Soundcloud" height="40px" width="40px"></a>
        {{/if}}
      </div>
      <div class="balados-thumbnail">
        {{#if balado.image}}
          <img class="img-fluid my-3" src={{balado.image.url}} alt={{balado.image.alt}}>
        {{else}}
          <img class="img-fluid my-3" src="/assets/images/placeholder.jpg" alt={{t "placeholder.alt"}}>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col logo-list">
      <h4>Partager le balado</h4>
      <div class="row">
        <div class="col">
          <FacebookButton />
          <TwitterButton @text={{concat "Nouveau balado sur l'Agenda: " balado.title}} />
          <LinkedinButton @text={{concat "Nouveau balado sur l'Agenda: " balado.title}} @title={{balado.title}} />
          <EmailButton @title={{balado.title}} />
        </div>
      </div>
    </div>
  </div>
  <!--
  <h3>Nos autres épisodes</h3>
  <div class="row">
    <div class="col px-0 mx-2">
      <a href="#">
        <div class="balados-thumbnail">
          <img src="../../images/bg-5.jpg" class="img-fluid" alt="Image">
          <div class="hover d-table">
            <div class="d-table-cell align-middle text-center text-white">
              <div class="h5">
                Épisode 42
              </div>
              <div class="h6 text-uppercase ">
                Titre du balados
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col px-0 mx-2">
      <a href="#">
        <div class="balados-thumbnail">
          <img src="../../images/bg-6.jpg" class="img-fluid" alt="Image">
          <div class="hover d-table">
            <div class="d-table-cell align-middle text-center text-white">
              <div class="h5">
                Épisode 42
              </div>
              <div class="h6 text-uppercase ">
                Titre du balados
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col px-0 mx-2">
      <a href="#">
        <div class="balados-thumbnail">
          <img src="../../images/bg-7.jpg" class="img-fluid" alt="Image">
          <div class="hover d-table">
            <div class="d-table-cell align-middle text-center text-white">
              <div class="h5">
                Épisode 42
              </div>
              <div class="h6 text-uppercase ">
                Titre du balados
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  -->
</div>