<div class="container">
  <h2>{{this.balado.title}}</h2>
  <small>
    {{t "article.post-date"
        date=(moment-format this.balado.postDatetime 'D MMMM YYYY à hh[h]mm' 'MM-YYYY-DD')}}
  </small>
  <div class="row mb-3">
    <div class="col-8">
      <p>
        {{this.baladoDesc}}
      </p>
    </div>
    <div class="col-md-4 col-12 px-md-0">
      <h4 class="mb-2">{{t "balados.listen.title"}}</h4>
      <div>
        {{#if this.balado.appleLink}}
          <a href={{this.balado.appleLink}} class="mx-2"><img src="/assets/logo/apple-podcast.png" alt={{t "balados.listen.apple"}} height="40px" width="40px"></a>
        {{/if}}
        {{#if this.balado.googleLink}}
          <a href={{this.balado.googleLink}} class="mx-2"><img src="/assets/logo/google-podcasts.png" alt={{t "balados.listen.google"}} height="40px" width="40px"></a>
        {{/if}}
        {{#if this.balado.spotifyLink}}
          <a href={{this.balado.spotifyLink}} class="mx-2"><img src="/assets/logo/spotify.png" alt={{t "balados.listen.google-play"}} height="40px" width="40px"></a>
        {{/if}}
        {{#if this.balado.soundcloudLink}}
          <a href={{this.balado.soundcloudLink}} class="mx-2"><img src="https://w.soundcloud.com/icon/assets/images/orange_white_40-94fc761.png" alt={{t "balados.listen.sound-cloud"}} height="40px" width="40px"></a>
        {{/if}}
      </div>
      <div class="balados-thumbnail">
        {{#if this.balado.image}}
          <img class="img-fluid my-3" src={{this.balado.image.url}} alt={{this.balado.image.alt}}>
        {{else}}
          <img class="img-fluid my-3" src="/assets/images/placeholder.jpg" alt={{t "placeholder.alt"}}>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col logo-list">
      <h4>{{t "balados.share"}}</h4>
      <div class="row">
        <div class="col">
          <FacebookButton />
          <TwitterButton @text={{concat "Nouveau balado sur l'Agenda: " this.balado.title}} />
          <LinkedinButton @text={{concat "Nouveau balado sur l'Agenda: " this.balado.title}} @title={{this.balado.title}} />
          <EmailButton @title={{this.balado.title}} />
        </div>
      </div>
    </div>
  </div>
</div>