<div class="col-12 col-sm-6 col-lg-4 p-2 d-sm-flex">
  <div class="card mx-0">
    {{#if @article.thumbnail}}
      <img class="card-img-top" src={{@article.thumbnail.url}} alt={{@article.thumbnail.alt}}>
    {{else}}
      <img class="card-img-top" src="/assets/images/placeholder.jpg" alt={{t "placeholder.alt"}}>
    {{/if}}
    <div class="card-body p-2 d-flex flex-column">
      <h5 class="card-title mb-1">{{if @article.title @article.title (t "article-card.no-title")}}</h5>
      <p class="card-text small">{{if @article.desc @article.desc (t "article-card.no-desc")}}</p>
      <div class="mt-auto">
        <LinkTo @route="la-tribune.category.article"
                @models={{array @article.category @article.id}}
                class="btn btn-primary btn-sm float-right">
          {{t "la-tribune.read-article"}}
        </LinkTo>
      </div>
    </div>
  </div>
</div>
