<div class="col-12 col-sm-6 col-lg-4 p-2 d-sm-flex">
  <div class="card mx-0">
    <div class="card-tag">
      {{#if (is-same-or-after @article.postDatetime (moment-subtract 3 precision='days') precision='days')}}
        <span class="badge badge-primary m-2 p-1">Nouveau</span>
      {{/if}}
    </div>
    {{#unless @hideImage}}
      <div class="article-thumbnail">
        {{#if @article.image}}
          <img class="img-fluid" src={{@article.image.url}} alt={{@article.image.alt}}>
        {{else}}
          <img class="img-fluid" src="/assets/images/placeholder.jpg" alt={{t "placeholder.alt"}}>
        {{/if}}
      </div>
    {{/unless}}
    <div class="card-body p-2 d-flex flex-column">
      <h5 class="card-title mb-1">{{if @article.title @article.title (t "article-card.no-title")}}</h5>
      <p class="card-text small">{{if this.desc this.desc (t "article-card.no-desc")}}</p>
      <div class="mt-auto row">
        <div class="col">
          <small>
            {{moment-format @article.updateDatetime 'YYYY-MM-DD à hh[h]mm' 'MM-YYYY-DD'}}
          </small>
        </div>
        <div class="col">
          <LinkTo @route="la-tribune.category-v2.article"
                  @models={{array @article.articleCategory.id @article.id}}
                  class="btn btn-primary btn-sm float-right">
            {{t "la-tribune.read-article"}}
          </LinkTo>
        </div>
      </div>
    </div>
  </div>
</div>
