<div class="author-card p-1 mb-2">
  {{#if @author.photo}}
    <img class="img-fluid float-left pr-1" src={{@author.photo.url}} alt={{@author.photo.alt}} height="80" width="80"/>
  {{else}}
    <img class="img-fluid float-left pr-1" src="/assets/images/placeholder.jpg" alt={{t "placeholder.alt"}} height="80" width="80"/>
  {{/if}}
  <h6 class="mb-0">{{t "author-card.by" firstName=@author.firstName lastName=@author.lastName}}</h6>
  <p class="text-justify mb-0">
    {{@author.desc}}
  </p>
</div>