<div class="news-card col-xl-3 col-lg-4 col-sm-6 col-12 d-sm-flex p-2">
  {{#if @model.image}}
    <img src={{@model.image.url}} class="card-img" alt={{@model.image.alt}}>
  {{else}}
    <img src="/assets/images/placeholder.jpg" class="card-img" alt={{t "placeholder.alt"}}>
  {{/if}}
  <LinkTo @route={{this.route}} @models={{array category.id @model.id}} class="nav-item nav-link">
    <div class="card-img-overlay">
      <i class="fas {{type}} float-right"></i>
      <h5 class="card-title mr-3">{{@model.title}} {{category.name}}</h5>
      <p class="card-text">
        {{@model.desc}}
      </p>
    </div>
  </LinkTo>
</div>