<footer id="footer">
  <nav class="navbar navbar-dark bg-blue small">
    <div class="row mx-auto">
      <a href="mailto:lagenda.media@gmail.com" class="col-12 col-md text-center text-white my-1">{{t 'contact-us'}}</a>
      <LinkTo @route="about" class="col-12 col-md text-center text-white my-1">{{t 'about.title'}}</LinkTo>
      <LinkTo @route="partenaires" class="col-12 col-md text-center text-white my-1">{{t 'partenaires.title'}}</LinkTo>
      <LinkTo @route="privacy-policy" class="col-12 col-md text-center text-white my-1">{{t 'privacy-policy'}}</LinkTo>
      <i class="col-12 col-md text-center text-white my-1">{{t 'copyright'}}</i>
    </div>
  </nav>
</footer>
