<PowerSelect @selected={{this.selected}}
             @options={{this.locales}}
             @onChange={{this.changeLocale}}
             @matchTriggerWidth={{false}} as |locale|>
   <span class="text-capitalize">{{t (concat "lang." locale)}}</span>
</PowerSelect>