{{#if @category.externalLink}}
  <a href={{@category.externalLink}} class="row py-3 clickable text-white">
    <div class="col d-flex align-items-center">
      {{#if @category.image}}
        <img class="icon-img img-fluid" src={{@category.image.url}} alt={{@category.image.alt}}>
      {{else}}
        <img class="icon-img img-fluid" src="/assets/logo/logo-lagenda-white.png" alt={{t "placeholder.alt"}}>
      {{/if}}
      <li class={{concat "mx-2 " (if @subCategory "" "")}}>
        {{@category.name}}
      </li>
      <small class="ml-auto fas fa-external-link-alt"></small>
    </div>
  </a>
{{else}}
  <div class="row py-3 clickable" {{on "click" this.toggleItems}}>
    <div class="col d-flex align-items-center">
      {{#if @category.image}}
        <img class="icon-img img-fluid" src={{@category.image.url}} alt={{@category.image.alt}}>
      {{else}}
        <img class="icon-img img-fluid" src="/assets/logo/logo-lagenda-white.png" alt={{t "placeholder.alt"}}>
      {{/if}}
      <li class={{concat "mx-2 " (if @subCategory "" "")}}>
        {{@category.name}}
      </li>
      <small class={{concat "ml-auto fas " (if collapsed "fa-chevron-right" "fa-chevron-down")}}></small>
    </div>
  </div>
  <BsCollapse class="row" @collapsed={{collapsed}}>
    <ul class="list-unstyled side-menu-articles col p-0">
      {{#if @category.subCategories}}
        {{#each @category.subCategories as |subCategory index|}}
          {{#if (eq index 0)}}
            <SideMenuCategory @category={{subCategory}} @subCategory={{true}} />
          {{else}}
            <SideMenuCategory @category={{subCategory}} @collapsed={{true}} @subCategory={{true}} />
          {{/if}}
        {{/each}}
      {{else}}
        {{#each articles as |article|}}
          {{#unless article.unlisted}}
            <LinkTo @route="la-tribune.category-v2.article" @models={{array @category.id article.id}}>
              <li class="clickable p-3 article">{{article.title}}</li>
            </LinkTo>
          {{/unless}}
        {{/each}}
        <LinkTo @route="la-tribune.category-v2" @models={{array @category.id}}>
          <li class="clickable p-3 font-italic">{{t "la-tribune.more"}}</li>
        </LinkTo>
      {{/if}}
    </ul>
  </BsCollapse>
{{/if}}