<BsModal @onHide={{this.closeModal}}
         @open={{true}}
         @fade={{false}}
         @position="center"
         @size="lg"
         as |Modal|>
  <Modal.header class="flex-column pt-0">
    <h4 class="modal-title w-100">{{t "admin.balado.title"}}</h4>
  </Modal.header>
  <Modal.body class="px-0">
    <div class="admin-modal">
      <BsForm class="text-left" @model={{this.balado}} @onSubmit={{this.submit}} as |form|>
        <div class="row">
          <div class="col-3">
            <form.group>
              <label class="control-label">{{t "admin.form.id"}}</label>
              <CopyText @text={{this.balado.id}} />
            </form.group>
          </div>
          <div class="col-3">
            <form.group>
              <label class="control-label">{{t "admin.form.visibility"}}</label>
              <XToggle
                  @onLabel={{t "admin.form.visible"}}
                  @offLabel={{t "admin.form.hidden"}}
                  @theme="flip"
                  @value={{not this.balado.unlisted}}
                  @onToggle={{this.toggleUnlisted}}
              />
            </form.group>
          </div>
          <div class="col">
            <form.group>
              <label class="control-label">{{t "admin.form.linkTo"}}</label>
              <CopyText @text={{this.baladoUrl}} />
            </form.group>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col">
                <form.group>
                  <form.element @label={{t "admin.form.postDatetime"}} @property="postDatetime" as |el|>
                    <EmberFlatpickr
                        class="form-control"
                        @allowInput={{true}}
                        @date={{el.value}}
                        @enableTime={{true}}
                        @locale="fr"
                        @onChange={{fn (mut el.value)}}
                    />
                  </form.element>
                </form.group>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <form.element @label={{t "admin.form.updateDatetime"}} @property="updateDatetime" as |el|>
                  <input class="form-control color-gray" value={{moment-format el.value 'YYYY-MM-DD à hh:mm' 'MM-YYYY-DD'}} disabled />
                </form.element>
              </div>
            </div>
          </div>
          <div class="col">
            <form.group>
              <label>{{t "admin.form.image.title"}}</label>
              <PowerSelect
                  @triggerClass="w-100"
                  @searchEnabled={{true}}
                  @search={{perform this.image.searchImageTask}}
                  @selected={{this.balado.image}}
                  @options={{this.image.imageOptions}}
                  @onChange={{this.changeImageSelected}} as |image select|>
                <span class="text-truncate">{{text-highlight image.name query=select.lastSearchedText}}</span>
                <img class="img-fluid search-img float-right pl-1 mt-1" src={{image.url}} alt={{image.alt}} />
              </PowerSelect>
              <div class="row pt-2">
                <div class="col-6 pr-0">
                  {{#if this.balado.image.url}}
                    <CopyText @text={{this.balado.image.url}} />
                  {{/if}}
                  {{#if this.balado.image.alt}}
                    <div class="py-1">
                      <h6>{{t "admin.form.image.desc"}}</h6>
                      {{this.balado.image.alt}}
                    </div>
                  {{/if}}
                  {{#if this.balado.image.credits}}
                    <div class="py-1">
                      <h6>{{t "admin.form.image.credits"}}</h6>
                      {{this.balado.image.credits}}
                    </div>
                  {{/if}}
                </div>
                <div class="col">
                  <img src={{this.balado.image.url}} class="img-fluid" alt={{this.balado.image.alt}} />
                  <div class="py-1">
                    {{this.loadImageSize}}
                    {{#if this.image.imageSize}}
                      <h6>{{t "admin.form.image.sizeTitle"}}</h6>
                      <span>
                        {{t "admin.form.image.size"
                            width=this.image.imageSize.width
                            height=this.image.imageSize.height
                            ratio=this.image.imageSize.ratio}}
                      </span>
                    {{/if}}
                  </div>
                </div>
              </div>

            </form.group>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col">
                <form.element @controlType="text" @label="Titre" @property="title" />
              </div>
              <div class="col">
                <form.element @controlType="text" @label={{t "admin.balado.simpleCastId"}} @property="simpleCastId" />
              </div>
            </div>
          </div>
          <div class="col">
            <form.group>
              <label class="control-label">{{t "admin.form.category"}}</label>
              <PowerSelect
                  @triggerClass="w-100"
                  @searchEnabled={{true}}
                  @searchField="name"
                  @options={{this.selectableCategories}}
                  @selected={{this.balado.baladoCategory}}
                  @placeholder={{t "admin.form.selectCategory"}}
                  @onChange={{this.selectCategory}} as |category|>
                {{category.name}}
              </PowerSelect>
            </form.group>
          </div>
        </div>
        <form.element @controlType="textarea" @label={{t "admin.form.desc"}} @property="desc" as |el|>
          <el.control rows="5" />
        </form.element>
        <div class="row">
          <div class="col">
            <form.element @controlType="text" @label={{t "admin.balado.appleLink"}} @property="appleLink" />
          </div>
          <div class="col">
            <form.element @controlType="text" @label={{t "admin.balado.googleLink"}} @property="googleLink" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <form.element @controlType="text" @label={{t "admin.balado.spotifyLink"}} @property="spotifyLink" />
          </div>
          <div class="col">
            <form.element @controlType="text" @label={{t "admin.balado.soundcloudLink"}} @property="soundcloudLink" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <form.element @controlType="text" @label={{t "admin.balado.youtubeLink"}} @property="youtubeLink" />
          </div>
          <div class="col">
          </div>
        </div>
        <BsButton @defaultText={{t "admin.form.submit"}} @type="primary" type="submit" class="float-right mr-0 mt-3" />
      </BsForm>
    </div>
  </Modal.body>
</BsModal>