<div class="container-fluid mb-4">
  <div class="container">
    <div class="row mb-4">
      <div class="col">
        <h1 class="mb-0">{{this.article.title}}</h1>
        <small>
          {{t "article.post-date"
              date=(moment-format this.article.updateDatetime 'D MMMM YYYY à hh[h]mm' 'MM-YYYY-DD')}}
        </small>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <div class="text-justify">
          {{#if this.article.image}}
            <div class="float-xl-left pr-3 pb-3 mx-auto article-img-container">
              <img class="img-fluid article-img d-block" src={{this.article.image.url}} alt={{this.article.image.alt}} />
              {{#if this.article.image.credits}}
                <small>{{this.article.image.credits}}</small>
              {{/if}}
            </div>
          {{else}}
            <img class="img-fluid article-img" src="/assets/images/placeholder.jpg" alt={{t "placeholder.alt"}} />
          {{/if}}

          <TuiEditor
              @viewer="true"
              @value={{this.article.content}}
          />
        </div>

        <div class="row">
          <div class="col logo-list">
            <h4>{{t "article.share.title"}}</h4>
            <div class="row">
              <div class="col">
                <FacebookButton />
                <TwitterButton @text={{concat "Nouvel article sur l'Agenda: " this.article.title}} />
                <LinkedinButton @text={{concat "Nouvel article sur l'Agenda: " this.article.title}} @title={{this.article.title}} />
                <EmailButton @title={{this.article.title}} />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 p-0">
        {{#each this.article.authors as |author|}}
          <AuthorCard @author={{author}}/>
        {{/each}}
        <div class="card mt-4 bg-light">
          <div class="card-body">
            <h4 class="card-title text-uppercase font-weight-bold mb-0">{{t "infolettre.title"}}</h4>
            <small class="card-text color-form">
              {{t "infolettre.desc"}}
            </small>
            <form class="mt-2" action="https://app.cyberimpact.com/optin" method="post" accept-charset="utf-8">
              <div class="form-group">
                <label class="d-none" for="ci_email">{{t "infolettre.form.email"}}</label>
                <input type="email" class="form-control bg-light" id="ci_email" name="ci_email" placeholder={{t "infolettre.form.email"}}>
              </div>
              <div class="form-group">
                <label class="d-none" for="ci_firstname">{{t "infolettre.form.first-name"}}</label>
                <input type="text" class="form-control bg-light" id="ci_firstname" name="ci_firstname" placeholder={{t "infolettre.form.first-name"}}>
              </div>
              <div class="form-group">
                <label class="d-none" for="ci_lastname">{{t "infolettre.form.last-name"}}</label>
                <input type="text" class="form-control bg-light" id="ci_lastname" name="ci_lastname" placeholder={{t "infolettre.form.last-name"}}>
              </div>

              <input type="hidden" id="ci_groups" name="ci_groups" value="2"/>
              <input type="hidden" id="ci_language" name="ci_language" value="fr_ca"/>
              <input type="hidden" id="ci_account" name="ci_account" value="e19b82d5-8f84-48f1-3518-62c0938c87bc"/>
              <input type="hidden" id="ci_sent_url" name="ci_sent_url" value={{this.sentUrl}}/>
              <input type="hidden" id="ci_error_url" name="ci_error_url" value={{this.errorUrl}} />
              <input type="hidden" id="ci_confirm_url" name="ci_confirm_url" value={{this.successUrl}} />

              <button type="submit" class="w-100 btn btn-primary">{{t "infolettre.form.submit"}}</button>
            </form>
          </div>
        </div>
        <div class="card mt-4 bg-light">
          <div class="card-body">
            <h5 class="card-title text-uppercase font-weight-bold mb-0 color-blue">{{t "submit-text.title"}}</h5>
            <small class="card-text color-form">
              {{t "submit-text.small-desc"}}
            </small>
            <p class="card-text mt-2">
              <button type="button" class="w-100 btn btn-primary text-white" {{on "click" (fn (mut this.submitText))}}>
                {{t "submit-text.modal-button"}}
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <div class="card-deck">
          {{#each this.model.featuredBalados as |featuredBalado|}}
            <FeaturedCard @model={{featuredBalado}} @type="balado" />
          {{/each}}
          {{#each this.model.featuredArticles as |featuredArticle|}}
            <FeaturedCard @model={{featuredArticle}} @type="article" />
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

<BsModal @open={{this.submitText}} @position="center" as |Modal|>
  <Modal.header class="flex-column">
    <h4 class="modal-title w-100">{{t "submit-text.title"}}</h4>
  </Modal.header>
  <Modal.body class="text-justify">
    <p>
      {{t "submit-text.desc1"}}
    </p>
    <p>
      {{t "submit-text.desc2"}}
    </p>
  </Modal.body>
  <Modal.footer class="justify-content-center">
    <a type="mail" role="button" href="mailto:lagenda.media@gmail.com" class="btn btn-primary text-white">{{t "submit-text.submit-text"}}</a>
    <BsButton {{on "click" Modal.close}} @type="secondary">{{t "button.close"}}</BsButton>
  </Modal.footer>
</BsModal>