<div class="container">
  <div class="d-flex">
    <h1>{{this.model.name}}</h1>
    <span class="ml-auto align-self-center">
      <PowerSelect @options={{this.sortProperties}} @selected={{this.selectedSort}} @onChange={{this.changeProperty}} as |property|>
        {{property.name}}
      </PowerSelect>
    </span>
  </div>
  {{#if this.articleAuthorCategories}}
    <div class="row">
      <h4 class="col">{{t "article-category.author-category.categories"}}</h4>
    </div>
    <div class="row">
      {{#each this.articleAuthorCategories as |category|}}
        <ArticleAuthorCategoryCard @category={{category}} />
      {{/each}}
    </div>
    <div class="row mt-3">
      <h4 class="col">{{t "article-category.author-category.articles"}}</h4>
    </div>
  {{/if}}
  <div class="row">
    {{#each this.articles as |article|}}
      <ArticleCard @article={{article}} />
    {{/each}}
  </div>
</div>
