{{#each this.partners as |partner index|}}
  <div class="w-100 row balados-list-thumbnail my-3 mx-auto">
    <div class={{concat "col image d-flex align-items-center p-0 " (unless (mod index 2) "order-lg-1")}}>
      {{#if partner.image}}
        <img class="img-fluid w-100" src={{partner.image.url}} alt={{partner.image.alt}}>
      {{else}}
        <img class="img-fluid w-100 p-5" src="/assets/logo/lagenda-logo.png" alt={{t "placeholder.alt"}}>
      {{/if}}
    </div>
    <div class="col-12 col-lg-4 p-3 content d-flex align-items-start flex-column">
      <h2>{{partner.name}}</h2>
      <p class="w-100 h-100">
        {{partner.desc}}
      </p>
      <LinkTo @route="balados.balado-partner.category"
              @models={{array partner.id partner.sortedCategories.firstObject.id}}
              class="btn btn-primary w-100">
        {{t "balados.show-category"}}
      </LinkTo>
    </div>
  </div>
{{/each}}