<div class="container mb-4">
  {{outlet}}
  <h1 class="mt-4 text-center">{{t "about.title"}}</h1>
  <h6>{{t "about.desc.title"}}</h6>
  <p class="text-justify">
    {{t "about.desc.text"}}
    <LinkTo @route="la-tribune.category-v2.article" @models={{array 1 3}} class="font-weight-bold">{{t "about.desc.link-text"}}</LinkTo>
  </p>
  <p>
    {{t "about.desc.text2"}}
  </p>

  {{#each this.authors as |author|}}
    {{#if author.collaborator}}
      <div class="row mt-3">
        <div class="col-3">
          {{#if author.image}}
            <img class="img-fluid mt-2" src={{author.image.url}} alt={{author.image.alt}}>
          {{else}}
            <img class="img-fluid article-img" src="/assets/images/placeholder.jpg" alt={{t "placeholder.alt"}}>
          {{/if}}
        </div>
        <div class="col-9 px-0">
          <LinkTo @route="about.author" @model={{author.id}}>
            <h3 class="mb-0">{{author.firstName}} {{author.lastName}}</h3>
          </LinkTo>
          <h5>{{author.title}}</h5>
          <p>
            {{author.desc}}
          </p>
          <div class="row">
            <div class="col logo-list">
            {{#each author.socialLinks as |socialLink|}}
              <a href={{socialLink.link}}><i class={{concat "h2 " socialLink.typeClasses}}></i></a>
            {{/each}}
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  {{/each}}
</div>
