{{head-layout}}
<div id="page-container">
  <div id="content-wrap">
    <Navbar />

    <div class="container-fluid p-0">
      {{outlet}}
    </div>
  </div>

  <BsModal @open={{this.infolettre}} @fade={{false}} @position="center" class={{concat "modal-" this.infolettre}}  as |Modal|>
    <Modal.header class="flex-column">
      <div class="icon-box">
        {{#if (eq this.infolettre "success")}}
          <i class="fas fa-check"></i>
        {{else if (eq this.infolettre "sent")}}
          <i class="fas fa-envelope"></i>
        {{else}}
          <i class="fas fa-exclamation"></i>
        {{/if}}
      </div>
      <h4 class="modal-title w-100">Abonnement à l'infolettre</h4>
    </Modal.header>
    <Modal.body>
      {{#if (eq this.infolettre "success")}}
        <p>Votre abonnement a été confirmé avec succès.</p>
      {{else if (eq this.infolettre "sent")}}
        <p class="text-justify">
          Un message de confirmation vous a été envoyé par courriel.
        </p>
        <p class="text-justify">
          Pour compléter votre abonnement, veuillez cliquer sur le bouton "Confirmer mon adresse courriel" qui se
          trouve dans ce courriel.
        </p>
        <p class="text-justify">
          Si ce courriel n'est pas dans votre boîte de réception, vérifiez votre boîte de courrier indésirable. Afin
          de recevoir nos prochains courriels et de profiter pleinement de votre abonnement, assurez-vous d'ajouter
          notre adresse à votre carnet d'expéditeurs sécuritaires.
        </p>
      {{else}}
        <p>Une erreur est survenue, svp essayez de nouveau.</p>
      {{/if}}
    </Modal.body>
    <Modal.footer class="justify-content-center" as |footer|>
      <BsButton @onClick={{action Modal.close}} @type="secondary">Fermer</BsButton>
    </Modal.footer>
  </BsModal>

  <Footer />
</div>