<HeadLayout />
<div id="page-container">
  <NotificationContainer />

  <div id="content-wrap">
    <Navbar />

    <div class="container-fluid p-0">
      {{outlet}}
    </div>
  </div>

  <BsModal @open={{this.infolettre}} @fade={{false}} @position="center" class={{concat "modal-" this.infolettre}}  as |Modal|>
    <Modal.header class="flex-column">
      <div class="icon-box">
        {{#if (eq this.infolettre "success")}}
          <i class="fas fa-check"></i>
        {{else if (eq this.infolettre "sent")}}
          <i class="fas fa-envelope"></i>
        {{else}}
          <i class="fas fa-exclamation"></i>
        {{/if}}
      </div>
      <h4 class="modal-title w-100">{{t "infolettre.title"}}</h4>
    </Modal.header>
    <Modal.body>
      {{#if (eq this.infolettre "success")}}
        <p>{{t "infolettre.message.success"}}</p>
      {{else if (eq this.infolettre "sent")}}
        <p class="text-justify">{{t "infolettre.message.sent1"}}</p>
        <p class="text-justify">{{t "infolettre.message.sent2"}}</p>
        <p class="text-justify">{{t "infolettre.message.sent3"}}</p>
      {{else}}
        <p>{{t "infolettre.message.error"}}</p>
      {{/if}}
    </Modal.body>
    <Modal.footer class="justify-content-center">
      <BsButton {{on "click" Modal.close}} @type="secondary">{{t "button.close"}}</BsButton>
    </Modal.footer>
  </BsModal>

  <Footer />
</div>