<div id="home-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {{#each this.model.carouselItems as |item index|}}
      {{#if (eq index 0)}}
        <li data-target="#home-carousel" data-slide-to={{index}} class="active"></li>
      {{else}}
        <li data-target="#home-carousel" data-slide-to={{index}}></li>
      {{/if}}
    {{/each}}
  </ol>
  <div class="carousel-inner">
    {{#each this.model.carouselItems as |item index|}}
      <CarouselElement @element={{item}} @first={{eq index 0}} />
    {{/each}}
  </div>
  <a class="carousel-control-prev" href="#home-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">{{t "home.carousel.previous"}}</span>
  </a>
  <a class="carousel-control-next" href="#home-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">{{t "home.carousel.next"}}</span>
  </a>
</div>

<div class="container-fluid my-4">
  <h3 class="mx-4 px-2 mb-0">{{t "home.featured"}}</h3>
  <div class="row mx-md-4 mb-4">
    {{#each this.model.balados as |balado|}}
      <FeaturedCard @model={{balado}} @type="balado" />
    {{/each}}
    {{#each this.model.articles as |article|}}
      <FeaturedCard @model={{article}} @type="article" />
    {{/each}}
  </div>
</div>