<div class="card my-3">
  <div class="card-body row">
    <div class="col-8 d-flex flex-column">
      <h3>{{this.balado.title}}</h3>
      <small>
        {{t "article.post-date"
            date=(moment-format this.balado.postDatetime 'D MMMM YYYY à hh[h]mm' 'MM-YYYY-DD')}}
      </small>
      <p>
        {{this.baladoDesc}}
      </p>
      {{#if this.balado.simpleCastId}}
        <div id="simplecast-balado-player" class="logo-list mt-auto">
            <h4>{{t "balados.listen.balado"}}</h4>
          <div class="row">
            <div class="col">
              <Webplayer @id={{this.balado.simpleCastId}}/>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
    <div class="col d-flex flex-column">
      <h4 class="mb-2">{{t "balados.listen.title"}}</h4>
      <div>
        {{#if this.balado.appleLink}}
          <a href={{this.balado.appleLink}} class="mx-2"><img src="/assets/logo/apple-podcast.png" alt={{t "balados.listen.apple"}} height="40px" width="40px"></a>
        {{/if}}
        {{#if this.balado.googleLink}}
          <a href={{this.balado.googleLink}} class="mx-2"><img src="/assets/logo/google-podcasts.png" alt={{t "balados.listen.google"}} height="40px" width="40px"></a>
        {{/if}}
        {{#if this.balado.spotifyLink}}
          <a href={{this.balado.spotifyLink}} class="mx-2"><img src="/assets/logo/spotify.png" alt={{t "balados.listen.google-play"}} height="40px" width="40px"></a>
        {{/if}}
        {{#if this.balado.soundcloudLink}}
          <a href={{this.balado.soundcloudLink}} class="mx-2"><img src="https://w.soundcloud.com/icon/assets/images/orange_white_40-94fc761.png" alt={{t "balados.listen.sound-cloud"}} height="40px" width="40px"></a>
        {{/if}}
        {{#if this.balado.youtubeLink}}
          <a href={{this.balado.youtubeLink}} class="mx-2"><img src="/assets/logo/youtube.png" alt={{t "balados.listen.youtube"}} height="40px" width="40px"></a>
        {{/if}}
      </div>
      <div class="logo-list mt-auto">
        <h4>{{t "balados.share"}}</h4>
        <div class="row">
          <div class="col">
            <FacebookButton />
            <TwitterButton @text={{concat "Nouveau balado sur l'Agenda: " this.balado.title}} />
            <LinkedinButton @text={{concat "Nouveau balado sur l'Agenda: " this.balado.title}} @title={{this.balado.title}} />
            <EmailButton @title={{this.balado.title}} />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
</div>
